# Ignore build directories
/bin/
/build/

# Ignore IDE-specific files
/.idea/
/*.iml
/.classpath
/.project
/.settings/

# Ignore Maven and Gradle directories
/target/
/.gradle/
/*.log

# Ignore compiled files
*.class

# Ignore temporary files
*.tmp
*.swp
*.swo

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore dependency directories
/node_modules/
/lib/

# Ignore environment files
.env
